<div style="
    display: table;
"><div style="
    display: table-cell;
    width: 55px;
    height: 55px;
    text-align: center;
    vertical-align: middle;
"><i class="start-icon far fa-times-circle faa-pulse animated" style="
    font-size: 40px;
    color: #0c3059;
    box-shadow: none;
"></i></div><div style="
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    padding: 0 0 0 10px;
"><p id="error" style="
    width: 100%;
    margin: 0;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #0c3059;
    text-shadow: none;
    font-weight: bold;
">Success Login  </p></div></div>